<div class="card-trip">
  <% if oven.photos.size != 0 %>
    <div id="card-img" style="background-image: url(<%= cl_image_path(oven.photos[0].key)%>)">
    </div>
  <% else %>
    <div id="card-img" style="background-image: url('/assets/fourbnb.png')">
    </div>
  <% end %>

  <div class="card-trip-infos">
    <div id="card-trip-title-adress">
      <h2><%= oven.title %></h2>
      <p><%= oven.address %></p>
      <p class="underline-link">avis (10)</p>
    </div>
    <p class="card-trip-pricing"><span id="view_price"> <%= oven.price %> </span> €/h</p>
    <% if oven.user.avatar %>
      <%= cl_image_tag oven.user.avatar.key, class: "card-trip-user avatar-bordered", crop: "fill", fetch_format: :auto %>
    <% else %>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <% end %>
  </div>

</div>
