<div class="container">
  <% if @ovens.length < 1 %>
    <h2>Tu n'as pas encore ajouté de four ...</h2>
    <%= link_to "Mettre mon four sur fourbnb", new_oven_path, class: "me-5 btn-cta p-2" %>
  <% else %>
    <div class ="cards">
      <% @ovens.each do |oven| %>
        <div class= "global-card">
          <%= link_to oven_path(oven) do %>
            <%= render "ovens/card", oven: oven %>
          <% end %>
        <div class= "bottom-card p-2">
          <button type="button" class="btn btn-outline-warning"><%= link_to "Modifier", edit_oven_path(oven) %></button>
          <button type="button" class="btn btn-outline-danger"><%= link_to "Supprimer", oven_path(oven), data: {turbo_method: :delete, turbo_confirm: "Es-tu sûr.e ?"} %></button>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
