<div class = "container">
  <div class="show-info d-flex justify-content-between mb-2">
    <div>
    <h2><%= @oven.title %></h1>
    <i class="fa-solid fa-location-dot"></i> <%= @oven.address %>
    </div>
    <div class="align-self-center fs-3">
    <i class="fa-solid fa-star"></i> <%= @oven.moyenne %> (<%= @oven.nb_avis %>)
    </div>
  </div>

  <% if @oven.photos.length >= 5 %>
    <%= render "ovens/five_photos" %>
  <% else %>
    <%= render "ovens/one_photo" %>
  <% end %>

  <div id="div-text" class="d-flex mt-3" data-controller="toggle">

    <div id= "description" data-toggle-target="togglableElementbis">
      <div class= "info-1 d-flex justify-content-between">
        <div class="align-self-center"><h5>Four <%= @oven.brand %>, proposé par <%= @oven.user.first_name %></h5></div>
        <% if @oven.user.avatar %>
          <%= cl_image_tag @oven.user.avatar.key, class: "card-trip-user avatar-bordered", crop: "fill", fetch_format: :auto %>
        <% else %>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        <% end %>
      </div>
      <div class= "info-2">
        <%= @oven.description %>
      </div>
      <div class="info-3">
        <h5><i class="fa-solid fa-star"></i> <%= @oven.moyenne %> (<%= @oven.nb_avis %> commentaires)</h5>
        <ul class="list-group review">
          <% @oven.reviews.each do |review| %>
            <li class="list-group-item p-3">
              <div class= "d-flex">
                <div class="me-2">
                  <% if review.booking.user && review.booking.user.avatar %>
                    <%= cl_image_tag review.booking.user.avatar.key, class: "card-trip-user avatar-bordered", crop: "fill", fetch_format: :auto %>
                  <% else %>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  <% end %>
                </div>
                <div>
                  <strong><%= review.booking.user.first_name %></strong>
                  <p><%= review.booking.date.strftime("%B %Y").downcase %></p>
                </div>
              </div>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="card-booking" class="card rounded align-self-start" data-controller="total-price">
      <div id="inside-card-booking" data-toggle-target="togglableElement">
        <h5 class="card-title"> <strong data-total-price-target="price"><%= @oven.price %></strong> € par heure </h5>
        <button class="btn-cta p-2 mt-4" data-action="click->toggle#move" data-toggle-target="togglableElementButton">Réserver</button>
      </div>
      <div class="d-none" data-toggle-target="togglableElementForm" data-controller="button">
        <%= render "layouts/form_booking", booking: @booking %>
        <button class="cross-button position-absolute top-0 end-0" data-action="click->toggle#move"><i class="fa-solid fa-x"></i></button>
      </div>
    </div>
  </div>
</div>
