<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: "ms-4" %>
    <% end %>

  <div class="justify-content-center d-flex">
    <div class="form-outline" id="searchbar">
      <input type="search" id="form1" class="form-control" placeholder="Search for an oven"/>
    </div>
    <button id="btn-searchbar" type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="collapse navbar-collapse me-4" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <%# if user_signed_in? %>
        <li class="nav-item active">
          <%# Ajouter le path %>
          <%= link_to "Mettre mon four en location", "#", class: "nav-link me-5" %>
        </li>
        <li class="nav-item dropdown">
          <%# Ajouter le lien vers l'avatar %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Mes reservations", "#", class: "dropdown-item" %>
            <%= link_to "Mettre mon four en location", "#", class: "dropdown-item" %>
            <%= link_to "Mon compte", "#", class: "dropdown-item" %>
            <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
      <%# else %>
        <!--li class="nav-item"-->
          <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
        <!--/li-->
      <%# end %>
    </ul>
  </div>
</div>
