<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_chef.svg", class: "ms-4" %>
    <% end %>

    <div class="justify-content-center d-flex">
      <div class="form-outline" id="searchbar">
        <%= form_with url: ovens_path, method: :get, local: true do %>
          <div class="d-flex">
              <%= text_field_tag :query, params[:query], class: "form-control" %>
              <%= button_tag(type: 'submit', class: "btn btn-primary", id: "btn-searchbar" )do %>
                <i class="fas fa-search"></i>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <div class="collapse navbar-collapse me-4" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Proposer mon four", new_oven_path, class: "nav-link me-5" %>
        </li>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, crop: "fill", fetch_format: :auto %>
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Mes réservations", bookings_path, class: "dropdown-item" %>
            <%= link_to "Mes fours en location", "#", class: "dropdown-item" %>
            <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
      <% else %>
       <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
